.recipes_container {
  max-width: 1400px;
  width: 100%;
  background-color: var(--color-page-background);
}

.recipes_sidebar {
  width: 100%;
  height: 100%;
  max-width: 300px;
  border-top: 2px solid rgba(248, 247, 247, 0.104);
  padding-top: 72px;
}

.recipes_main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 72px;
  border-left: 2px solid rgba(248, 247, 247, 0.104);
  border-top: 2px solid rgba(248, 247, 247, 0.104);
}

.recipes_sidebar_button {
  height: 54px !important;
}

.component_display {
  min-height: 250px;
  width: 100%;
}

.recipe_info_container {
  width: 75%;
  height: 100%;
}

.chevron_up {
  animation: rotate-up 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
}

.show_pages {
  animation: show-pages 0.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes rotate-up {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes show-pages {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-pages {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
