.blob {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.5;
  z-index: -1;
}

/* TODO: add morphing animation to blob */
